:root{
  --primary-color: #ddb69d;
  --secondary-color: #8b5757;
  --light-primary: #D6CDC7;
}

body{
  background-color: var(--primary-color);
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
}

.bg-image{
  background-image: url("./images/balloons-background.jpg");
  height: 100vh;
  max-width: 50vw;
  background-size: cover;
}

@media(max-width: 480px){
  .bg-image{
    max-width: 100vw;
  }
}

.container{
  position: absolute;
  top: 2rem;
  left: 1rem;
  right: 1rem;
  margin: 0 auto;
  padding: 1rem;
  color: var(--secondary-color);
  background-color: rgb(214, 205, 199, 0.5);
  height: 85vh;
  max-width: 40rem;
  border-radius: 2rem;
}

.content-container{
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-right: 0.5rem;
  height: 100%;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background: var(--secondary-color);
  border-radius: 0.5rem;
}

.heading{
  font-size: 2.5rem;
}

.sub-heading{
  margin: 0rem auto;
  margin-bottom: 2rem;
}

.form-bday{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  width: 56vmin;
  height: 2rem;
  margin: 0.5rem 0rem;
  padding: 0.25rem 1rem;
  background-color: var(--light-primary);
  color: var(--secondary-color);
  caret-color: var(--secondary-color);
}

.input::placeholder{
  color: var(--secondary-color);
}

.input:hover, .input:focus{
  border-color: var(--secondary-color);
}

.input:focus{
  background-color: var(--primary-color);
}

.input, .submit-button{
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--primary-color);
  font-family: 'Times New Roman', Times, serif;
}

.submit-button{
  width: 10rem;
  height: 2.25rem;
  margin: 2rem;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  box-shadow: rgba(14, 38, 37, 0.12) 3px 4px 6px 2px,
  rgba(14, 38, 37, 0.32) 1px 2px 4px 1px;
  transition: box-shadow 0.1s ease;
  cursor: pointer;

}

.submit-button:hover{
  box-shadow: rgba(14, 38, 37, 0.12) 0px 1px 2px 0px,
  rgba(14, 38, 37, 0.32) 0px 2px 4px 1px;
  transition: box-shadow 0.1s ease;
}

.output-div{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.output-gif{
  max-width: 10rem;
}

.footer> .icon-sm{
  margin: 1rem;
  font-size: 24px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.footer>.icon-sm:hover{
  transform: scale(1.2);
  transition: transform 0.5s;

}

.privacy-div{
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem 2.25rem 1rem 1rem;
  font-size: 16px;
  max-width: fit-content;
  margin: 0rem auto;
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 5;
}

.privacy-div> .icon-warning{
  font-size: 14px;
  margin-right: 0.25rem;
}

.privacy-div> .icon-close{
position: absolute;
top: 0.35rem;
right: 0.40rem;
font-size: 18px;
cursor: pointer;
transition: transform 0.5s;
}

.privacy-div> .icon-close:hover{
  transform: scale(1.2);
  transition: transform 0.5s;
}